.navbar {
    padding: 0 20px;
    position: fixed;
    z-index: 10;
    background-color: rgb(56, 56, 56);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 0; 
    height: 60px;
}

.navbar__list {
    display: flex;
    gap: 20px;
}
